# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/.swc/

# production
/build
/dist
/release

# misc
.DS_Store
Thumbs.db
.idea/
.vscode/
.devcontainer/
*.swp
*.bak
*.tmp
*.log
*.pem
/temp/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.local

# docker
/vercel
.dockerignore
docker-compose.override.yml
/postgres-data/

# typescript
*.tsbuildinfo
next-env.d.ts

# backups
/backups/*
!/backups/.gitkeep
