.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
}

.logoContainer {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
}

.logoBase {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logoAnimated {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: fillAnimation 1.5s ease-in-out infinite alternate;
}

@keyframes fillAnimation {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.progress {
  position: absolute;
  top: -5px;
  left: -5px;
  color: #0078FF;
}

