.logoWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    outline: none;
}

.logo {
    transition: opacity 0.2s;
}

.logo:hover {
    opacity: 0.8;
}

.docLink {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}